* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    --color-green: #9dc20b;
    --color-blue: #38a69b;
    --color-salmon: #f28b66;
    --color-gray: #496d7c;
    --color-light-gray: #608ea1;
    color: var(--color-gray);
}

main {
    position: relative;
    top: 120px;
}

section {
    scroll-margin-top: 120px;
}

h1 {
    text-transform: uppercase;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}

.button-btn {
    padding: 6px 18px;
    border-radius: 30px;
    background-color: var(--color-gray);
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    width: 120px;
    margin: 10px 0;

}

.button-btn:hover {
    background-color: var(--color-light-gray);

}

li {
    list-style: none;
}

a {
    color: var(--color-gray);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 2%;
}

a:hover {
    text-decoration: underline;
}


.basic-style {
    width: 60%;
    text-align: center;
    color: var(--color-gray);
    margin: 30px auto;

}

.basic {
    color: var(--color-gray);
}

.quote {
    background-color: var(--color-blue);
    text-align: center;
}

.quote h3 {
    font-family: "Caveat", cursive;
    font-style: italic;
    font-weight: bold;
    color: white;
    padding: 2%;
    margin: 5rem 0;
}

@media only screen and (max-width: 768px) {
    .basic-style {
        width: 80%;
    }
    p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {
    .basic-style {
        width: 90%;
        text-align: center;
    }

    h1 {
        font-size: 20px;
    }


    p {
        font-size: 12px;
    }
}
