.container {
    width: 80%;
    margin-bottom: 50px;
}


.cards-wrapper {
    display: flex;
    justify-content: center;
}


.card {
    margin: 0.5em;
    background-color: var(--color-blue);
    border: none;
}


.card-body {
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
}

.card-img-top {
    max-height: 350px;
    object-fit: cover;
}

.follow-professionals {
 display: flex;
 justify-content: center;
 gap: 1em;
}

.follow-professionals img{
    width: 2em;
}



.container-professionals-sm {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .container-lg{
        display: none;
    }
    .container-professionals-sm {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (min-width: 1024px) {
.carousel-control-next,
.carousel-control-prev {
    width: 6vh;
    height: 6vh;
    background-color: #38a69b;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.carousel-control-next {
    transform: translateX(110%);
}

.carousel-control-prev {
    transform: translateX(-110%);
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    opacity: .5;
}


}